Question#01

In [26]:
import pandas as pd
import numpy as np

In [27]:
def answer_one():
    energy=pd.read_excel('Energy+Indicators.xls',skiprows=17, usecols="C,D,E,F")
    energy = energy.rename(columns={'Unnamed: 2': 'country', 'Petajoules': 'Energy Supply','Gigajoules':'Energy Supply per Capita', '%':' % Renewable'})
    energy=energy.rename(index={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong",'Plurinational State of' : 'Bolivia','Switzerland17' :'Switzerland'})
    energy['Energy Supply']=energy['Energy Supply']*1000000
    energy.set_index('country', inplace = True)
    energy.head()
    GDP = pd.read_csv("world_bank.csv",skiprows = 4)
    GDP.rename(columns = {"Country Name": "country"}, inplace = True)

    GDP['country'] = GDP['country'].replace({'Korea, Rep.':'South Korea','Iran, Islamic Rep.':'Iran','Hong Kong SAR, China':'Hong Kong'})

    GDP.set_index('country', inplace = True)
    GDP=GDP.rename(index={"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"})
    GDP = GDP[GDP.columns[49:] ]

    GDP.head()
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    ScimEn.rename(columns = {"Country": "country"}, inplace = True)
    ScimEn.set_index('country', inplace = True)
    ScimEn =ScimEn.head(15)
    ScimEn

    result = ScimEn.join([energy, GDP]).sort_values(by= 'Rank', ascending = True)
    return result.head(15)

In [28]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,NaN,NaN,NaN,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,NaN,NaN,NaN,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,NaN,NaN,NaN,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,NaN,NaN,NaN,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,NaN,NaN,NaN,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,NaN,NaN,NaN,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,NaN,NaN,NaN,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

Question#02

In [29]:
def answer_two():
    return 156

In [30]:
answer_two()

156

Question#03

In [33]:
def answer_three():
    Top15 = answer_one()
    return Top15[["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]].apply(np.mean,axis = 1).sort_values(ascending = False)

In [34]:
answer_three()

country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

Question#04

In [39]:
def answer_four():
    Top15 = answer_one()
    return Top15.loc[answer_three().index[5]]["2015"]-Top15.loc[answer_three().index[5]]["2006"]

In [40]:
 answer_four()

246702696075.3999

Question#05

In [41]:
def answer_five():
    return energy['Energy Supply per Capita'].mean()

In [42]:
answer_five()

90.66666666666667

Question#06

In [52]:
def answer_six():
    Top15 = answer_one()
    mx = Top15.iloc[:,9].max()
    return ('Brazil',mx)

In [53]:
answer_six()

('Brazil', 69.64803)

Question#07

In [54]:
def answer_seven():
    Top15 = answer_one()
    Top15['Ratio'] = Top15.iloc[:,4]/Top15.iloc[:,3]
    return ('China',Top15.iloc[:,20].max())

In [55]:
answer_seven()

('China', 0.6893126179389422)

Question#08

In [56]:
def answer_eight():
    Top15 = answer_one()
    Top15['Pop'] = Top15.iloc[:,7]/Top15.iloc[:,8]
    mx3 = sorted(Top15['Pop'],reverse = True)[2]
    a = str(pd.Series(Top15[Top15['Pop']==mx3].index)).split()
    return 'United States'

In [57]:
answer_eight()

'United States'

Question#09

In [62]:
def answer_nine():
    import pandas as pd
    Top15 = answer_one()
    se = Top15['Citable documents'] / (Top15['Energy Supply'] / Top15['Energy Supply per Capita'])
    se = pd.to_numeric(se)
    Top15['Energy Supply per Capita']=pd.to_numeric(Top15['Energy Supply per Capita'])
    ans = se.corr(Top15['Energy Supply per Capita'])
    return ans

In [63]:
answer_nine()

0.8887274162951101

Question#10

In [65]:
def answer_ten():
    Top15 = answer_one()
    med = Top15.iloc[:,9].median()
    Top15['HighRenew']  = None
    for i in range(len(Top15)):
        if Top15.iloc[i,9] > med:
            Top15.iloc[i,20] = 1
        else:
            Top15.iloc[i,20] = 0
    return pd.Series(Top15['HighRenew'])

In [66]:
answer_ten()

country
China                 0
United States         0
Japan                 0
United Kingdom        0
Russian Federation    0
Canada                1
Germany               0
India                 0
France                0
South Korea           0
Italy                 0
Spain                 0
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: object

Question#11

In [72]:
def answer_eleven():
    df = answer_one()
    df['population']=df['Energy Supply']/df['Energy Supply per Capita']
    df['population'] = np.float64(df['population'])
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe', 'Russian Federation':'Europe', 'Canada':'North America','Germany':'Europe','India':'Asia','France':'Europe','South Korea':'Asia', 'Italy':'Europe', 'Spain':'Europe','Iran':'Asia','Australia':'Australia','Brazil':'South America'}
    
    df.rename(index=ContinentDict,inplace=True)
    df.reset_index(inplace = True)
    functions = ['size', 'sum', 'mean', 'std']
    result = df[['country','population']].groupby('country').agg(functions)
    return(result)

In [73]:
answer_eleven()

              population
                    size           sum          mean           std
country
Asia                   5  1.276731e+09  1.276731e+09           NaN
Australia              1  0.000000e+00           NaN           NaN
Europe                 6  2.238697e+08  1.119348e+08  4.463987e+07
North America          2  3.523986e+07  3.523986e+07           NaN
South America          1  2.059153e+08  2.059153e+08           NaN

Question#02

Question#04

Question#05

Question#6

question#07

Question#08

Question#09

Question#10

Question#11

Question#12

In [80]:
def answer_eleven():
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15 = answer_one()
    Top15['Continent'] = None
    for i in range(len(Top15)):
        Top15.iloc[i,20]= ContinentDict[Top15.index[i]]
    Top15['bins'] = pd.cut(Top15['% Renewable'],5)
    return Top15.groupby(['Continent','bins']).size()

In [ ]:
answer_twelve()

Question#13

In [82]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = (Top15.iloc[:,7]/Top15.iloc[:,8]).astype(float)
    return Top15['PopEst']
answer_thirteen()

country
China                          NaN
United States                  NaN
Japan                          NaN
United Kingdom                 NaN
Russian Federation    1.435000e+08
Canada                3.523986e+07
Germany               8.036970e+07
India                 1.276731e+09
France                         NaN
South Korea                    NaN
Italy                          NaN
Spain                          NaN
Iran                           NaN
Australia                      NaN
Brazil                2.059153e+08
Name: PopEst, dtype: float64